.wrapper {
    width: 970px;
    background-color: #1c345d;
    color: white;
}

.header {
    /* left and right => 10px */
    width: calc(100% - 20px);
    background-color: red;
    border-radius: 17px;
    display: inline-block;
    margin: 10px;
}

.header h1 {
    margin: 15px 20px 15px 20px;
}

.main_wrapper {
    display: flex;
}

a {
    color: #5ac9ce;
}

#nav_list {
    background-color: #297d8c;
    border-radius: 17px;
    height: 180px;
    width: 490px;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#nav_list > a {
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
}

#nav_list > ul {
    margin-top: 3px;
    padding-left: 28px;
}

.overview {
    margin: 0;
    padding-left: 15px;
}

.main_container {
    background-color: black;
    margin: auto 10px;
    border-radius: 17px;
    font-size: 13px;
    padding-bottom: 5px;
}

.main_container h2 {
    margin: 25px 0 0 15px;
}

.main_container p {
    margin: 5px 10px 0 15px;
    /* margin-left: 15px;
    margin-right: 10px; */
    
}

.description {
    padding-left: 30px;
    padding-right: 10px;
}

.description li {
    margin-bottom: 5px;
}

.main_container span {
    color: #4948ca;
}

.info {
    width: calc(100% - 20px);
    background-color: #5e6673;
    margin: 10px;
    border-radius: 17px;
    display: inline-block;
}

.info > p {
    padding: 0 5px 0 5px;
    margin-left: 10px;
    font-size: 13px;
}