/* body * {
    outline: 1px dotted red;
} */

.wrapper {
    margin: 20px 0 0 20px;
    width: 970px;
    background: linear-gradient(360deg, rgba(49,114,168,1) 0%, rgb(36,80,118,1) 22%);
}

.header {
    display: flex;
}

.header img {
    width: 30%;
    margin: 20px;
}

.header p {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 5px;
    text-align: right;
    color: white;
    font-size: 15px;  
}

.header p > a {
    color: #edca37;
}

.header form {
    margin-left: auto;
    padding: 10px;
}

.search {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(73, 71, 71);
    box-shadow: 3px 3px rgb(34, 33, 33);
}

.search input {
    font-size: 13px;
    width: 120px;
    height: 26px;
    text-align: center;
    margin-right: 5px;
    border-width: 2px;
    border-color: #9a9a9a;
}

button {
    font-size: 11px !important;
    color: white;
    background-color: #245076;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    width: 90%;
    height: 50px;
    margin: 0 40px 0 65px;
    padding: 0;
    background-color: rgb(32, 138, 199);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(34, 33, 33);
}

.navbar li {
    font-size: 22px;
    font-weight: normal;
}

.main {
    display: flex;
    padding-left: 60px;
}

.menu {
    margin: 20px;
    padding-left: 40px;
    text-align: center;
    white-space: nowrap;
    list-style: none;
}

.menu li::before {
    color: #edca37;
    content: ">>";
    font-size: 7px;
    padding-right: 5px;
    vertical-align: middle;
}

.menu li {
    padding: 5px;
    font-size: 20px;
}

.menu li a {
    color: white;
}

.about {
    margin: 20px 0;
    padding-right: 30px;
}

.about p {
    width: 595px;
    font-size: 15px;
    padding-right: 20px;
    margin-top: 0;
    text-align: center;
    color: white;
}

.about ul {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    color: #edca37;
    list-style: none;
}

.about ul li {
    margin-bottom: 5px;
}

.about h4 {
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 20px;
}

.direction {
    display: flex;
    justify-content: center;
    background-color: white;
}

.start, .app {
    margin: 20px 20px 0 20px;
    width: 350px;
    border-top: 5px solid #73a8d6;
}

.start {
    margin-left: 65px;
    padding-right: 50px;
}

.app {
    margin-right: 35px;
    padding-right: 50px;
}

.start h4, .app h4 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-left: 35px;
}

.start p, .app p {
    font-size: 15px;
    padding: 0 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 295px;
}

.start ul, .app ul {
    font-size: 15px;
    margin: 5px 15px 15px 15px;
    text-align: center;
    width: 250px;
    padding-right: 15px;
    padding-left: 65px;
}

.start li, .app li {
    margin-bottom: 5px;
}

.start li a, .app li a {
    color: rgb(32, 138, 199);
    text-decoration: none;
}

.app p span{
    color: rgb(32, 138, 199);
}

.footer {
    margin-bottom: 20px;
}

.footer ul {
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer ul li {
    margin-left: 20px;
    color: white;
    opacity: 0.5;
}

.footer h6 {
    color: white;
    opacity: 0.5;
    margin-top: 10px;
    padding: 0 0 10px 0;
    text-align: center;
}